@font-face {
    font-family: 'open_sansregular';
    src: url('/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('/OpenSans-Semibold-webfont.woff') format('woff');
}
html{
    width: 100%;
}
body{
    width: 100%;
    margin: 0px;
    background-color: #e1e2e2;
}
.navbar{
    color: #e1e2e2;
    font-family: 'open_sanssemibold', sans-serif;
    background-color: #1d2228;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}
.sidenav{
    font-family: 'open_sanssemibold',sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1d2228;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav .close-button{
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 24pt;
    margin-left: 50px;
}
.sidenav a{
    padding: 16px 16px 16px 30px;
    text-decoration: none;
    font-size: 16pt;
    color: #e1e2e2;
    display: block;
    transition: 0.2s;
}
.selected-nav{
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-color: #fb8122;
    background-color: #181b21;
}
.sidenav a:hover{
    color: #fb8122;
}
.about-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(assets/header_img.jpg);
    background-size: cover;
    font-family: 'open_sanssemibold', sans-serif;
    color: #e1e2e2;
}
.profile{
    border-radius: 100%;
}
#about-heading{
    color: #fb8122;
}
.header-img{
    background-image: url(assets/header_img.jpg);
    background-size: cover;
    font-family: 'open_sanssemibold', sans-serif;
    color: #e1e2e2;
}
.quote{
    font-family: 'open_sanssemibold', sans-serif;
    text-align: center;
}
.quote-author{
    font-family: 'OpenSans-Regular-webfont',sans-serif;
    color: #fb8122;
    text-align: right;
}
.main-content{
    font-family: 'open_sansregular';
    color: #1d2228;
    text-align: justify;
    text-indent: 60px;
}
.heading{
    font-family: 'open_sanssemibold',sans-serif;
    color: #1d2228;
    text-align: left;
}
.heading-style{
    padding-left: 20px;
    border-color: #fb8122;
    border-width: 0px 0px 0px 3px;
    border-style: solid;
}
.works-container{
    display: flex;
    justify-content: center;
    align-items: top;
}
.button{
    font-family: 'open_sanssemibold',sans-serif;
    border-radius: 10px;
    color: #e1e2e2;
    background-color: #1d2228;
    border-style: none;
}
.button:hover{
    opacity: 80%;
}
.main-heading{
    font-family: 'open_sanssemibold',sans-serif;
    color: #1d2228;
    text-transform: uppercase;
    text-align: left;
}
.main-heading-style{
    border-color: #fb8122;
    border-width: 0px 0px 0px 3px;
    border-style: solid;
    padding-left: 20px;
}
.sub-heading{
       font-family: 'open_sanssemibold',sans-serif; 
}
.content-text{
    font-family: 'open_sansregular',sans-serif;
    color: #1d2228;
    text-align: justify;
}
.form-content{
    font-family: 'open_sansregular',sans-serif;
    text-align: left;
    color: #1d2228;
    background-color: #ececec;
    padding: 20px;
    border-radius: 10px;
}
form{
    padding: 10px;
}
textarea{
    color: #1d2228;
    font-family: 'open_sansregular',sans-serif;
    resize: none;
    background-color: #e1e2e2;
}
input{
    background-color: #e1e2e2;
}
input[type=submit]{
    width: fit-content;
    padding: 10px 20px 10px 20px;
    background-color: #1d2228;
    color: #e1e2e2;
}
input[type=submit]:hover{
    opacity: 80%;
}
.contact-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.footer{
    width: 100%;
    background-color: #1d2228;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'open_sanssemibold',sans-serif;
    color: #6b7d94;
    flex-wrap: wrap;
}
.footer-heading{
    color: #e1e2e2;
}
.footer-links-list{
    list-style-type: none;
    line-height: 35px;
    margin-bottom: 0px;
}
.footer-contact-links>a{
    display: inline-block;
}
.credits{
    font-family: 'opensans_semibold',sans-serif;
    text-align: center;
    background-color: #1d2228;
    color: #6b7d94;
}
a{
    text-decoration: none;
}
li>a{
    color: #6b7d94;
}
li>a:hover{
    color: #e1e2e2;
    transition: 0.3s;
}
@media screen and (min-width: 1640px){
    .main-content{
        width: 60%;
    }
}
@media screen and (min-width: 721px){
    .navbar{
        padding: 20px 40px 20px 40px;
        font-size: 16pt;
    }
    .logo{
        height: 30px;
    }
    .about-header{
        font-size: 30pt;
        padding: 100px 100px 70px 100px;
        margin-bottom: 20px;
    }
    .profile{
        width: 150px;
    }
    .header-img{
        font-size: 30pt;
        padding: 100px 100px 70px 100px;
        margin-bottom: 20px;
    }
    .quote-author{
        font-size: 18pt;
        padding: 20px 0px 20px 0px;
    }
    .header-content{
        font-size: 20pt;
        padding-top: 30px;
    }
    .main-content{
        width: 70%;
        padding: 20px;
        font-size: 16pt;
        line-height: 50px;
    }
    .heading{
        width: 70%;
        font-size: 22pt;
        padding: 20px;
    }
    .works-container{
        flex-flow: row;
        flex-wrap: wrap;
        padding: 20px 0px 20px 0px;
        width: 80%;
    }
    .work-element>img{
        width: 550px;
        padding: 20px;
        border-radius: 30px;
    }
    .work-element>video{
        width: 550px;
        padding: 20px;
        border-radius: 30px;
    }
    .button{
        padding: 10px 20px 10px 20px;
        margin-bottom: 30px;
        font-size: 12pt;
    }
    #about-heading{
        font-size: 22pt;
    }
    .work-element{
        width: 600px;
        padding: 0px 20px 0px 20px;
    }
    .main-heading{
        font-size: 22pt;
        padding: 15px;
    }
    .content-text{
        font-size: 16pt;
        padding: 15px;
        line-height: 50px;
    }
    .form-content{
        margin: 20px 0px 20px 0px;
        width: 600px;
        font-size: 16pt;
    }
    input, textarea{
        width: 95%;
        font-size: 14pt;
        padding: 15px;
        margin: 15px 0px 15px 0px;
        border: none;
        border-radius: 8px;
    }
    .form-label{
        padding: 10px 0px 8px 0px;
    }
    .contact-container{
        width: 80%;
    }
    .footer{
        font-size: 14pt;
        padding: 15px 0px 15px 0px;
    }
    .footer>div{
        padding: 30px;
    }
    .footer-logo{
        height: 40px;
    }
    .footer-heading{
        font-size: 18pt;
    }
    .footer-links-list{
        padding-left: 20px;
    }
    .footer-contact-links>a>img{
        width: 30px;
    }
    .footer-contact-links>a{
        margin: 20px;
    }
    .credits{
        padding-bottom: 20px;
        font-size: 11pt;
    }
}
@media screen and (max-width: 720px){
    .navbar{
        padding: 10px 20px 10px 20px;
        height: 40px;
        font-size: 11pt;
    }
    .sidenav{
        max-width: 240px;
    }
    .sidenav .close-button{
        font-size: 18pt;
    }
    .sidenav a{
        padding: 12px 12px 12px 30px;
        font-size: 13pt;
    }
    .logo{
        height: 15px;
        vertical-align: middle;
    }
    .about-header{
        font-size: 16pt;
        padding: 30px 10px 30px 10px;
        margin-bottom: 20px;
        background-image: url(assets/header_img.jpg);
    }
    .profile{
        width: 80px;
    }
    .header-img{
        font-size: 18pt;
        padding: 30px;
        margin-bottom: 20px;
        background-image: url(assets/header_img.jpg);
    }
    .quote-author{
        font-size: 13pt;
        padding: 15px 0px 15px 0px;
    }
    .header-content{
        font-size: 13pt;
        padding-top: 15px;
    }
    .main-content{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 12pt;
        line-height: 30px;
        text-indent: 30px;
    }
    .heading{
        width: 90%;
        font-size: 16pt;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .heading-style{
        padding-left: 10px;
    }
    .works-container{
        flex-flow: column;
        padding: 10px 0px 10px 0px;
    }
    .work-element>img{
        width: 90%;
        padding: 10px;
        border-radius: 20px;
    }
    .work-element>video{
        width: 90%;
        padding: 10px;
        border-radius: 20px;
    }
    .button{
        padding: 8px 16px 8px 16px;
        font-size: 10pt;
        margin-bottom: 20px;
    }
    #about-heading{
        font-size: 12pt;
    }
    .work-element{
        width: 100%;
    }
    .main-heading{
        font-size: 16pt;
        padding: 10px 20px 10px 20px;
    }
    .main-heading-style{
        padding-left: 10px;
    }
    .content-text{
        font-size: 12pt;
        line-height: 30px;
        padding: 10px 20px 10px 20px;
    }
    .form-content{
        margin: 10px 0px 10px 0px;
        width: 90%;
        font-size : 12pt;
        padding: 5px;
    }
    input, textarea{
        width: 90%;
        font-size: 12pt;
        padding: 15px;
        margin: 10px 0px 10px 0px;
        border: none;
        border-radius: 5px;
    }
    .form-label{
        text-align: left;
        padding: 10px 0px 0px 0px;
    }
    .contact-container{
        width: 100%;
        flex-direction: column-reverse;
    }
    #contact-img{
        width: 80%;
    }
    .footer{
        font-size: 10pt;
        padding: 10px 0px 10px 0px;
    }
    .footer>div{
        padding: 15px;
    }
    .footer-logo{
        height: 25px;
    }
    .footer-heading{
        font-size: 12pt;
    }
    .footer-links-list{
        margin-top: 15px;
        padding-left: 10px;
        line-height: 25px;
    }
    .footer-contact-links>a>img{
        width: 20px;
    }
    .footer-contact-links>a{
        margin: 10px;
    }
    .credits{
        padding-bottom: 20px;
        font-size: 9pt;
    }
}
@media screen and (max-width: 360px){
    .sidenav .close-button{
        font-size: 14pt;
    }
    .sidenav a{
        padding: 12px 6px 6px 18px;
        font-size: 12pt;
    }
    .sidenav{
        max-width: 150px;
    }
    .footer :nth-child(1){order: 1;}
    .footer :nth-child(3){order: 1;}
    .footer :nth-child(2){order: 2;}
}