*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*:focus{
  outline: none;
}
html{
  background-image: url(/assets/background-01.svg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  scrollbar-color: #1e1e1e #121212;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'metropolisbold';
  src: url('metropolis-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'metropolismedium';
  src: url('metropolis-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'metropolisregular';
  src: url('metropolis-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'metropolissemi_bold';
  src: url('metropolis-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  max-width: 280px;
}
.side-nav .close-button{
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 30px;
}
.side-nav a{
  padding: 20px 20px 20px 30px;
  display: block;
  transition: 0.2s;
  font-family: 'metropolismedium';
  font-size: 16px;
  text-transform: uppercase;
  color: #8C8C8C;
  letter-spacing: 1.5px;
}
.side-nav a:hover{
  background-color: #121212;
}
.side-nav-sub{
  padding-left: 50px !important;
}
.relative{
  position: relative;
  display: flex;
  justify-content: center;
}
#slide-1{
  position: absolute;
  opacity: 1;
  transition: 1s ease;
}
#slide-2{
  position: absolute;
  opacity: 0;
  transition: 1s ease;
}
a{
  text-decoration: none;
}
*, .font-regular{
  font-family: 'metropolisregular','sans-serif';
}
.font-bold{
  font-family: 'metropolisbold','sans-serif';
}
.font-semibold{
  font-family: 'metropolissemi_bold','sans-serif';
}
.font-medium{
  font-family: 'metropolismedium','sans-serif';
}
*{
  color: #FFFFFF;
}
.color-primary{
  color: #FFFFFF !important;
}
.color-secondary{
  color: #8C8C8C;
}
.color-acsent{
  color: #FA8021;
}
.color-bg-dark{
  background-color: #121212;
}
.color-bg-light{
  background-color: #1E1E1E;
}
.text-align-center{
  text-align: center;
}
.text-align-right{
  text-align: right;
}
.page-margin{
  margin-top: 30vh;
  margin-bottom: 60vh;
}
.page-margin-sm{
  margin-bottom: 36vh;
}
.margin-b-md{
  margin-bottom: 16px;
}
.margin-b-lg{
  margin-bottom: 42px;
}
.margin-sm{
  margin: 16px 0px 16px 0px;
}
.rounded{
  border-radius: 100%;
}
.uppercase{
  text-transform: uppercase;
}
.block{
  display: block;
}
.flex{
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.wrap{
  flex-wrap: wrap;
}
.justify-end{
  justify-content: flex-end;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.letter-spacing-md{
  letter-spacing: 2px;
}
.letter-spacing-lg{
  letter-spacing: 4px;
}
.letter-spacing-xl{
  letter-spacing: 5px;
}
.width-full{
  width: 100%;
}
.pointer{
  cursor: pointer;
}
.icon{
  width: 60px;
  height: 60px;
}
.icon:hover{
  opacity: 0.7;
  transition: 0.3s;
}
.link{
  transition: 0.2s;
}
.link:hover{
  color: #FFFFFF;
  transition: 0.2s;
}
.rounded-t{
  border-radius: 6px 6px 0px 0px !important;
}
.rounded-b{
  border-radius: 0px 0px 6px 6px !important;
}
.img-zoom-box{
  overflow: hidden;
  border-radius: 10px;
}
.img-zoom-box:hover .img-zoom{
  scale: 1.1;
  transition: 0.3s;
}
.sketchfab-embed-wrapper{
  position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden;
}
.sketchfab-embed-wrapper iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.yt-container {
  position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden;
  border-radius: 10px;
}
.yt-container iframe, .yt-container object, .yt-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
video{
  transition: 0.3s;
}
img{
  transition: 0.3s;
}
.img-overlay-box{
  position: relative;
}
.img-overlay{
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  transition: 0.3s ease;
}
.img-overlay-box:hover .img-overlay{
  opacity: 1;
  transition: 0.3s ease;
}
.progress-container{
  border-radius: 10px;
  width: 100%;
}
.progress{
  background-color: #FA8021;
  border-radius: 10px;
  padding: 10px;
}
input,textarea{
  border-color: #1E1E1E;
  border-style: solid;
  border-width: 0px 3px 3px 3px;
  color: #8C8C8C;
  background-color: transparent;
  font-size: 16px;
  font-family: 'metropolisregular';
  resize: none;
}
.border-input{
  border-width: 3px 3px 0px 3px;
  border-color: #1E1E1E;
  border-style: solid;
}
button{
  cursor: pointer;
  border-color: #8C8C8C;
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
  background-color: #FFFFFF00;
  transition: 0.2s;
}
button:hover{
  border-color: #FFFFFF;
  color: #FFFFFF;
  transition: 0.2s;
}
h2{
  font-size: 2rem;
  line-height: 1.5;
}
p{
  line-height: 2;
  font-size: 18px;
}
.line-height-sm{
  line-height: 1.5;
}
.font-size-sm{
  line-height: 2;
}
.font-size-md{
  line-height: 1.5;
}
h1{
  font-size: 32px;
}
h3{
  font-size: 18px;
}
.font-size-lg{
  font-size: 32px;
}
.font-size-md{
  font-size: 26px;
}
.font-size-sm{
  font-size: 12px;
}
@media screen and (min-width: 768px){
  h1{
    font-size: 40px;
  }
  h3{
    font-size: 18px;
  }
  .font-size-lg{
    font-size: 36px;
  }
  .font-size-md{
    font-size: 32px !important;
  }
  .font-size-sm{
    font-size: 12px;
  }
}
@media screen and (min-width: 992px){
  h1{
    font-size: 55px;
  }
  h3{
    font-size: 20px;
  }
  .font-size-lg{
    font-size: 40px;
  }
  .font-size-md{
    font-size: 2rem !important;
  }
  .font-size-sm{
    font-size: 13px;
  }
}
